---
title: Infocat - About
bodyClass: about
---
extends shared/_layout
block content

  div(class!= bodyClass)

    include components/about/_on
    include components/about/_legal
    include macros/_project
