// AROUND

.around
  padding-bottom: 72px


  &__row
    display: flex
    padding-bottom: 29px

    &-left
      width: 323px
      +rmin(992)
        width: 263px
      +rmin(1366)
        width: 323px

    &-right
      width: 100%
      max-width: calc(100% - 323px)
      padding-right: 100px
      +rmin(992)
        max-width: calc(100% - 263px)
        padding-right: 30px
      +rmin(1366)
        max-width: calc(100% - 323px)
        padding-right: 100px


  &__title
    position: relative
    top: 50px


  &__subtitle
    padding-bottom: 30px
    font-size: 30px
    font-weight: 300


  &__img
    display: block
    max-width: 100%
    height: auto
    margin-left: auto


  &__count
    padding-top: 138px
    padding-bottom: 40px
    line-height: 1
    color: $c-navyBlue
    font-size: 72px
    font-weight: 300
    +rmin(992)
      font-size: 43px
    +rmin(1366)
      font-size: 72px

    span
      &:nth-child(1)
        font-size: 252px
        +rmin(992)
          font-size: 152px
        +rmin(1366)
          font-size: 252px
