// FREE

.free
  position: relative
  //padding-bottom: 164px
  +rmin(320)
    padding-bottom: 55px
  +rmin(768)
    padding-bottom: 110px
  +rmin(1200)
    padding-bottom: 164px


  &__bg
    position: absolute
    top: 0
    right: 0
    +rmin(992)
      width: 70%
    +rmin(1200)
      width: 75%
    +rmin(1920)
      width: 100%

    img
      z-index: 0
      position: absolute
      right: 0
      top: 0
      max-width: 100%


  &__wrapper
    z-index: 1
    position: relative


  &__row
    display: flex

    &-left,
    &-right
      +rmin(1200)
        //width: 50%

    &-left
      padding-top: 262px
      +rmin(992)
        padding-top: 162px
        width: 380px
      +rmin(1200)
        padding-top: 262px
        width: 50%


    &-right
      +rmin(992)
        width: calc(100% - 380px)
      +rmin(1200)
        width: 50%
      img
        display: block
        max-width: 100%


  &__col
    width: 100%
    margin-bottom: 72px
    +rmin(992)
      margin-bottom: 36px
    +rmin(1200)
      margin-bottom: 72px

    &-0
      max-width: 293px
    &-1
      max-width: 345px
    &-2
      max-width: 315px


  &__subtitle
    position: absolute
    top: 99px
    +rmin(992)
      top: 69px
    +rmin(1200)
      top: 99px


  &__count
    display: flex
    align-items: center
    position: absolute
    top: 92px
    right: 347px
    color: $c-cornflower
    +rmin(320)
      font-size: 14px
    +rmin(768)
      font-size: 17px
    +rmin(992)
      top: 62px
      right: 20px

    +rmin(1200)
      top: 92px
      right: 347px
      font-size: 19px

    span
      display: inline-block
      color: $c-white
      &:nth-child(1)
        width: 25px
        text-align: right
        font-size: 27px
        +rmin(320)
          font-size: 17px
        +rmin(992)
          font-size: 22px
        +rmin(1200)
          font-size: 27px


  &__title
    padding-bottom: 28px


  &__text
    padding-bottom: 65px
    line-height: 1.2
    color: rgba($c-black, 0.9)
    font-size: 20px
    +rmin(320)
      font-size: 14px
    +rmin(768)
      font-size: 17px
    +rmin(1200)
      font-size: 20px


  &__btn
    margin-bottom: 79px


  .swiper
    &-container
      padding: 0
      padding-bottom: 36px
