// POST

.post
  padding-top: 99px
  +r(767)
    padding-top: 50px


  &__subtitle
    color: $c-dimGray

    &-0
      padding-bottom: 50px
      +r(767)
        padding-bottom: 30px


  &__title
    padding-bottom: 26px


  &__text
    width: 100%
    max-width: 959px
    padding-bottom: 96px
    font-size: 18px
    +r(767)
      padding-bottom: 48px
      font-size: 16px
