// DESCRIPTION

.description
  padding-top: 99px
  +r(767)
    padding-top: 50px


  &__subtitle
    padding-bottom: 80px
    +r(767)
      padding-bottom: 40px


  &__row
    padding-bottom: 122px
    +r(767)
      padding-bottom: 63px


    &-header
      display: flex
      align-items: center
      justify-content: space-between
      padding-bottom: 10px
      +rmin(768)
        padding-right: 40px
      +rmin(992)
        padding-right: 70px
      +rmin(1200)
        padding-right: 100px


    &-title
      p
        display: flex
        align-items: center
        +r(767)
          flex-direction: column
          align-items: flex-start

        > span:nth-child(1)
          display: flex
          align-items: center
          +r(767)
            margin-bottom: 10px

          +rmin(320)
            width: 79px
          +rmin(768)
            width: 89px
          +rmin(992)
            width: 99px


    &-badge
      opacity: 0.7
      color: $c-dimGray
      font-size: 20px
      +r(767)
        display: none

      span
        padding-left: 5px
        font-size: 32px


    &-body
      display: flex
      flex-wrap: wrap
      +rmin(768)
        padding-right: 40px
      +rmin(992)
        padding-right: 70px
      +rmin(1200)
        padding-right: 100px

      p
        width: 100%
        padding-right: 15px
        font-weight: 300
        +rmin(320)
          padding-top: 30px
          font-size: 16px
        +rmin(768)
          padding-top: 54px
          max-width: 50%
          font-size: 20px
        +rmin(1366)
          max-width: 555px


    &-logo
      +rmin(768)
        padding-right: 40px
      +rmin(992)
        padding-right: 70px
      +rmin(1200)
        padding-right: 100px

      .custom__button-wrap
        justify-content: flex-end
        margin-right: 0
        margin-top: 25px
        margin-bottom: 26px
        +r(1199)
          display: none

      .swiper
        &-container
          +r(1199)
            padding-top: 110px
          +r(767)
            padding-top: 30px
        &-pagination
          +r(767)
            transform: translate(0)
          +rmin(768)
            justify-content: flex-end
            bottom: auto
            top: 37px
            left: auto
            right: 0
            height: 36px
            transform: translate(0)
          &-bullet
            margin: 0 9px !important
          +rmin(1200)
            display: none
        &-slide
          cursor: pointer
          display: flex
          align-items: center
          justify-content: center
          width: 263px
          height: 220px
          padding-left: 15px
          padding-right: 15px
          border-radius: 10px
          background-color: $c-white
          box-shadow: 0 0 9.1px 0.9px rgba(19, 21, 22, 0.08)

          &:hover
            img
              filter: grayscale(0)
              +transition(filter)

          img
            display: block
            max-width: 100%
            height: auto
            filter: grayscale(1)
            +transition(filter)


    &-cert
      p
        padding-top: 26px
        padding-bottom: 31px
        color: $c-dimGray
        font-size: 20px
        +r(767)
          font-size: 16px

      .btn
        margin-bottom: 37px

      > div
        display: none
        position: relative
        left: -196px
        padding-left: 192px
        width: calc(100% + 196px)
        padding-top: 28px
        padding-bottom: 28px
        box-shadow: inset 0 0 100px 10px rgba($c-black, 0.15)

        &.is-show
          display: block
          animation-name: fadeIn

        .custom__button-wrap
          justify-content: flex-end
          margin-bottom: 26px
          +r(767)
            display: none
          +rmin(768)
            margin-right: 40px
          +rmin(992)
            margin-right: 70px
          +rmin(1200)
            margin-right: 100px


        .swiper
          &-container
            +r(767)
              padding-bottom: 0
          &-pagination
            display: none
          &-slide
            overflow: hidden
            cursor: pointer
            position: relative
            width: 346px
            border-radius: 10px
            background-color: $c-white
            box-shadow: 0 0 16.2px 1.8px rgba(26, 28, 29, 0.09)
            +rmin(320)
              height: 300px
            +rmin(768)
              height: 347px

            &:hover
              img
                transform: scale(1.1)
                +transition(transform)

            img
              position: absolute
              top: 0
              left: 0
              display: block
              width: 100%
              height: 100%
              object-fit: cover
              object-position: center
              +transition(transform)
