// TITLE
// ===============
.title
  font-size: 65px
  font-weight: 300


// BTN
// ===============
.btn
  white-space: nowrap
  position: relative
  display: inline-flex
  align-items: center
  justify-content: center
  height: 50px
  padding-left: 40px
  padding-right: 40px
  border-radius: 2em
  border: 1px solid $c-navyBlue
  background-color: transparent
  color: $c-navyBlue
  font-weight: bold
  font-family: "BrutalType", sans-serif

  span
    margin-right: 27px

  i
    position: relative

    &:after
      content: ""
      position: absolute
      top: -19px
      left: -21px
      width: 48px
      height: 48px
      border-radius: 100%
      border: 1px solid transparent
      background-color: transparent

  &.is-active
    border-color: transparent

    i
      transform: rotate(-90deg)
      &:after
        border-color: $c-navyBlue




// p WITH-DOT
// ===============
.with-dot
  position: relative
  padding-top: 23px
  line-height: 1.3
  font-size: 20px
  font-weight: 300

  &:before
    content: ""
    position: absolute
    top: -4px
    left: 0
    width: 8px
    height: 8px
    border-radius: 100%
    background-color: $c-navyBlue


// SWIPER CUSTOM BTN
.custom
  &__button
    display: flex
    align-items: center
    justify-content: center
    width: 55px
    height: 55px
    border-radius: 100%
    border: 1px solid $c-navyBlue

    &.swiper-button-disabled
      opacity: 0.5

    &-wrap
      display: flex
      margin-right: 100px

    &-prev
      margin-right: 12px
      i
        transform: rotate(-180deg)
    &-next
      margin-left: 12px


// FORM
.form
  padding-top: 20px


  &__field
    position: relative
    width: 100%
    margin-bottom: 40px

    &.has-error
      .form__input,
      .form__textarea
        color: red
        border-color: red
        +transition(color, border-color)

    &.has-done
      .form__input,
      .form__textarea
        color: $c-navyBlue
        border-color: $c-navyBlue
        +transition(color, border-color)
      .form__icon
        opacity: 1
        +transition(opacity)

    &--input
      max-width: 367px
      height: 46px
    &--textarea
      max-width: 729px
      height: 287px
    &--info
      p
        width: 100%
        max-width: 469px

        a
          color: $c-navyBlue

  &__input
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    padding-right: 25px
    border-radius: 0
    box-shadow: none
    border: none
    border-bottom: 2px solid $c-veryLightGrey
    background-color: transparent
    font-size: 20px
    font-weight: 300
    font-family: "Muller", sans-serif
    +transition(color, border-color)

    &::-webkit-input-placeholder
      color: $c-black
      font-size: 20px
    &::-moz-placeholder
      color: $c-black
      font-size: 20px
    &:-ms-input-placeholder
      color: $c-black
      font-size: 20px
    &:-moz-placeholder
      color: $c-black
      font-size: 20px

  &__icon
    z-index: 0
    opacity: 0
    position: absolute
    top: 50%
    transform: translateY(-50%)
    right: 0
    width: 21px
    height: 15px
    +transition(opacity)

  &__textarea
    resize: none
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    padding: 35px 47px
    box-shadow: none
    background-color: transparent
    border: 2px solid $c-veryLightGrey
    font-size: 20px
    font-weight: 300
    font-family: "Muller", sans-serif
    +transition(color, border-color)

    &::-webkit-input-placeholder
      color: $c-black
      font-size: 20px
    &::-moz-placeholder
      color: $c-black
      font-size: 20px
    &:-ms-input-placeholder
      color: $c-black
      font-size: 20px
    &:-moz-placeholder
      color: $c-black
      font-size: 20px

  &__btn
    cursor: pointer
    outline: none
    white-space: nowrap
    display: inline-flex
    align-items: center
    justify-content: center
    height: 50px
    padding-left: 40px
    padding-right: 40px
    border-radius: 2em
    border: 1px solid $c-navyBlue
    background-color: $c-navyBlue
    color: $c-white
    font-weight: bold
    font-family: "BrutalType", sans-serif
    +transition(background-color, color)

    &:hover
      color: $c-navyBlue
      background-color: $c-white
      +transition(background-color, color)

      i
        @include sprite(arrow-right)
        animation-fill-mode: both
        animation-duration: 0.5s
        animation-name: fadeIn

    span
      margin-right: 27px


// ERROR
.error
  z-index: 0
  position: absolute
  left: 0
  bottom: -18px
  color: red
  font-size: 12px
  font-weight: bold
  animation-fill-mode: both
  animation-duration: 1s
  animation-name: fadeIn
