// INDEX

.logotype
  padding-top: 59px
  padding-bottom: 107px

  &__link
    display: block

    img
      display: block
      max-width: 100%
      height: auto
      margin-left: auto
      margin-right: auto


.nav
  padding-bottom: 151px

  &__item
    display: block
    margin-bottom: 50px

  &__btn
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    padding-left: 15px
    padding-right: 15px
    text-align: center
    font-size: 18px

    i
      margin-bottom: 13px


.phone
  &__btn
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center

    i
      margin-bottom: 13px
