// TITLE
// ===============
.title
  font-size: 65px
  font-weight: 300


// BTN
// ===============
.btn
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  max-width: 200px
  height: 50px
  border-radius: 2em
  border: 1px solid $c-navyBlue
  background-color: transparent
  color: $c-navyBlue
  font-weight: bold
  font-family: "BrutalType", sans-serif

  span
    margin-right: 27px


// p WITH-DOT
// ===============
.with-dot
  position: relative
  padding-top: 23px
  font-size: 20px
  font-weight: 300

  &:before
    content: ""
    position: absolute
    top: -4px
    left: 0
    width: 8px
    height: 8px
    border-radius: 100%
    background-color: $c-navyBlue