$sprite: (
	desc-0: (
		offset-x: 0px,
		offset-y: 0px,
		width: 58px,
		height: 58px,
		total-width: 234px,
		total-height: 119px,
		image: '../images/sprite.png'
	),
	desc-1: (
		offset-x: -68px,
		offset-y: 0px,
		width: 59px,
		height: 45px,
		total-width: 234px,
		total-height: 119px,
		image: '../images/sprite.png'
	),
	desc-2: (
		offset-x: 0px,
		offset-y: -68px,
		width: 48px,
		height: 51px,
		total-width: 234px,
		total-height: 119px,
		image: '../images/sprite.png'
	),
	done: (
		offset-x: -167px,
		offset-y: -33px,
		width: 21px,
		height: 15px,
		total-width: 234px,
		total-height: 119px,
		image: '../images/sprite.png'
	),
	play: (
		offset-x: -137px,
		offset-y: -33px,
		width: 20px,
		height: 26px,
		total-width: 234px,
		total-height: 119px,
		image: '../images/sprite.png'
	),
	shogo-logo: (
		offset-x: -137px,
		offset-y: 0px,
		width: 97px,
		height: 23px,
		total-width: 234px,
		total-height: 119px,
		image: '../images/sprite.png'
	),
);


@mixin sprite-size($image) {
	background-size: map-get(map-get($sprite, $image), 'total-width') map-get(map-get($sprite, $image), 'total-height');
}

@mixin sprite-width($image) {
	width: map-get(map-get($sprite, $image), 'width');
}

@mixin sprite-height($image) {
	height: map-get(map-get($sprite, $image), 'height');
}

@mixin sprite-position($image) {
	background-position: map-get(map-get($sprite, $image), 'offset-x') map-get(map-get($sprite, $image), 'offset-y');
}

@mixin sprite-image($image) {
	background-image: url(map-get(map-get($sprite, $image), 'image'));
}

@mixin sprite-image-retina($image) {
	$image-path: map-get(map-get($sprite, $image), 'image');
	$image-path-retina: str-slice($image-path, 1, str-index($image-path, '.png') - 1) + '@2x.png';

	background-image: url($image-path-retina);
}

@mixin sprite($image, $size: true) {
	@include sprite-image($image);
	@include sprite-position($image);
	background-repeat: no-repeat;

	@if $size {
		@include sprite-width($image);
		@include sprite-height($image);
	}

	@media
		only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (   min--moz-device-pixel-ratio: 2),
		only screen and (     -o-min-device-pixel-ratio: 2/1),
		only screen and (        min-device-pixel-ratio: 2),
		only screen and (                min-resolution: 192dpi),
		only screen and (                min-resolution: 2dppx) {

		@include sprite-size($image);
		@include sprite-image-retina($image);

	}
}



	.icon-desc-0 {
		@include sprite(desc-0)
	}
	.icon-desc-1 {
		@include sprite(desc-1)
	}
	.icon-desc-2 {
		@include sprite(desc-2)
	}
	.icon-done {
		@include sprite(done)
	}
	.icon-play {
		@include sprite(play)
	}
	.icon-shogo-logo {
		@include sprite(shogo-logo)
	}
