.ico-about {
  width: 1.13em;
  height: 1em;
  fill: initial;
}
.ico-catalog {
  width: 1.03em;
  height: 1em;
  fill: initial;
}
.ico-contact {
  width: 0.57em;
  height: 1em;
  fill: initial;
}
.ico-email {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
.ico-order {
  width: 1.32em;
  height: 1em;
  fill: initial;
}
.ico-phone {
  width: 1em;
  height: 1em;
  fill: initial;
}
