.ico-catalog {
  width: 0.97em;
  height: 1em;
  fill: none;
}
.ico-kontakt {
  width: 0.56em;
  height: 1em;
  fill: none;
}
.ico-meil {
  width: 1.36em;
  height: 1em;
  fill: none;
}
.ico-o-nas {
  width: 1.06em;
  height: 1em;
  fill: none;
}
.ico-strelka {
  width: 0.62em;
  height: 1em;
  fill: none;
}
.ico-zvonok {
  width: 1.04em;
  height: 1em;
  fill: #0074C3;
}
